---
// src/pages/portfolio/[category]/[id].astro
import Layout from '../../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import worksData from '../../data/projects.json'; // `getStaticPaths`のために`projects.json`を直接読み込みます

export async function getStaticPaths() {
    return worksData.map((work) => ({
        params: { category: work.category, id: work.id },
        props: { work },
    }));
}

const { work } = Astro.props;

const entry = await getEntry('posts', work.id);

const { Content } = await entry.render();
---

<Layout title={work.title}>
    <main>
        <h1>{work.title}</h1>
        <div class="content">
            <Content />
        </div>
    </main>
</Layout>
